body {
  margin:0;
  background-color: rgb(65, 65, 65);

}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
}

.topimg{
    margin: 10px;
}
.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 10px;
}

.navbar a {
  float: left;
  display: block;
  color: rgb(222, 222, 222);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}



.main {
  padding: 16px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1{
    color: rgb(216, 216, 216);
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline rgb(220, 220, 220);
  }
  
  a:active {
    text-decoration: underline rgb(220, 220, 220);
  }

* {box-sizing:border-box}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(80, 80, 80);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}



.numbertext {
  color: #393939;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}